<%- layout("../layouts/adminboilerplate") %>
<title>
    <%= title %>
</title>

<div class="container mt-5">
  <h2>Order Details - <%= order.orderId %></h2>
<p><strong>User:</strong> <%= order.userId.name %></p>
  <p><strong>Shipping Address:</strong> <%= order.shippingAddress.houseAddress %>, <%= order.shippingAddress.pincode %></p>
  <p><strong>Status:</strong> <%= order.orderStatus %></p>

  <h4>Items:</h4>
  <ul class="list-group">
    <% order.items.forEach(item => { %>
      <li class="list-group-item">
        <a href="/admin/orders/itemDetails?orderId=<%= order._id %>&itemId=<%= item._id %>" class="text-decoration-none">
          <strong><%= item.productId.productName %></strong> - <%= item.orderStatus%>
        </a>   - Qty: <%= item.quantity %> - ₹<%= item.price.toFixed(2) %>
      </li> 
    <% }) %>
  </ul>

  <% if(order.orderStatus === "Return Requested") {%>
    <h2>Return Reason</h2>
    <p><strong>Resaon</strong> <%= order.returnReason%></p>
    <%}%>

  <h4 class="mt-4">Update Status</h4>
  <form action="/admin/orders/view/update?id=<%= order._id %>" method="POST">
    <select name="status" class="form-select">
      <% if (order.orderStatus === "Pending") {%>
        <option value="Pending" selected>Pending</option>
        <option value="Shipped" >Shipped</option>
        <% } else if (order.orderStatus === "Shipped") {%>
        <option value="Shipped" selected>Shipped</option>
        <option value="Delivered" >Delivered</option>
        <% } else { %>
          <option><%= order.orderStatus %> (Final)</option>
        <% } %>
    </select>
    <% if (!['Returned', 'Delivered'].includes(order.orderStatus)) { %>
      <button type="submit" class="btn btn-primary">Update Status</button>
    <% } else { %>
      <button class="btn btn-secondary" disabled>No Further Updates</button>
    <% } %>

  </form>
</div>


